.Pinpoint.Widget.MostRecentPosts {
	@apply grid gap-5 md:grid-cols-2 lg:grid-cols-3;
}

.Pinpoint.Widget.MostRecentPosts .Tile {
	@apply relative border rounded-lg bg-white;
}

.Pinpoint.Widget.MostRecentPosts .Tile .covermedia {
	@apply overflow-hidden border-b border-gray-100;
}

.Pinpoint.Widget.MostRecentPosts .Tile .covermedia .image {
	@apply object-cover w-full h-40 transition-all duration-300 ease-out rounded-t-lg;
}

.Pinpoint.Widget.MostRecentPosts .Tile .covermedia .empty {
	@apply w-full h-40 bg-gray-50;
}

.Pinpoint.Widget.MostRecentPosts .Tile .body {
	@apply mt-2 py-1 px-2;
}

.Pinpoint.Widget.MostRecentPosts .Tile .body .title {
	@apply font-semibold;
}

.Pinpoint.Widget.MostRecentPosts .Tile .body .headline {
	@apply mt-1 text-sm text-gray-500 mr-2;
}

.Pinpoint.Widget.MostRecentPosts .Tile .body .icon {
	@apply text-gray-300 hover:text-gray-900 absolute right-2 bottom-2;
}

.Pinpoint.Widget.MostRecentPosts .Tile.style2 {
	@apply relative min-h-[350px] h-full rounded-none border-0;
}

.Pinpoint.Widget.MostRecentPosts .Tile.style2 .covermedia {
	@apply absolute inset-0 z-0 opacity-30;
}

.Pinpoint.Widget.MostRecentPosts .Tile.style2 .covermedia .empty {
	@apply h-full rounded-t-none border border-gray-400;
}

.Pinpoint.Widget.MostRecentPosts .Tile.style2 .covermedia .image {
	@apply h-full rounded-t-none;
}

.Pinpoint.Widget.MostRecentPosts .Tile.style2 .body {
	@apply absolute inset-0 z-[1] flex flex-col justify-center items-center;
}

.Pinpoint.Widget.MostRecentPosts .Tile.style2 .title {
	@apply font-bold text-center;
	font-size: 31.5px;
}

.Pinpoint.Widget.MostRecentPosts .Tile.style2 .link {
	@apply font-bold text-center my-10 flex items-center justify-center self-center mx-auto;
	font-size: 14px;
	min-width: min-content;
}

.Pinpoint.Widget.MostRecentPosts .Tile.style2 .link > span {
	@apply border border-gray-800 rounded inline-flex items-center justify-center p-2;
}
