@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Styles for the interactive clap component
 */
.Clap.wrapper {
	@apply relative cursor-pointer flex items-center;
}

.Clap.icon {
	@apply inline-flex items-center content-center transition-all;
}

.Clap.counter {
	@apply opacity-0 ml-1 transition-all;
}

.Clap.counter.active {
	@apply opacity-100;
}

.Clap.notice {
	@apply rounded-full opacity-0 absolute bg-black text-white select-none transition-all left-0 px-2 py-0.5;
}

.Clap.notice.active {
	@apply opacity-100 left-12;
}

/*
 * Styles for the statistic components
 */
.Statistic.wrapper {
	@apply flex items-center;
}

.Statistic .count {
	@apply ml-2;
}

.Statistic.Bar .Statistic.Views.wrapper {
	@apply mr-4;
}

/*
 * Styles for the changelog card components
 */
.Changelog.Card.Container.wrapper {
	@apply w-full rounded-md overflow-hidden shadow bg-white mt-auto flex flex-col h-full;
}

.Changelog.Card.Container.wrapper .cover {
	@apply w-full h-80 object-cover object-center;
}

.Changelog.Card.Container.wrapper .content {
	@apply flex flex-col p-6 flex-grow flex-shrink;
}

.Changelog.Card.Container.wrapper .footer {
	@apply flex mt-auto;
}

.Changelog.Card.Container.wrapper .statistics {
	@apply ml-auto;
}

.Changelog.Card.Description {
	@apply mb-4;
}

.Changelog.Card.Date {
	@apply mt-0.5 text-xs mb-2;
}

.Changelog.Card.Read {
	@apply flex items-center cursor-pointer no-underline;
}

.Changelog.Card.Read .arrow {
	@apply ml-2;
}

.Changelog.Card .Tag.Bar {
	@apply mb-4;
}
/*
 * Styles for the logo component
 */
.Logo {
	@apply block rounded-full;
}

.Logo.xs {
	width: 22px;
	height: 22px;
}

.Logo.sm {
	width: 32px;
	height: 32px;
}

.Logo.md {
	width: 42px;
	height: 42px;
}

.Logo.lg {
	width: 52px;
	height: 52px;
}

.Logo.xl {
	width: 62px;
	height: 62px;
}

.Logo .image {
	width: 100%;
	height: 100%;
}

/*
 * Styles for the copyright component
 */

.Copyright .text {
	@apply mt-1 text-sm;
}

/*
 * Styles for the subscribe component
 */
.Subscribe {
	@apply flex items-center cursor-pointer no-underline;
}

.Subscribe .text {
	@apply ml-1 text-sm;
}

/*
 * Styles for the social components
 */
.Social {
	@apply no-underline transition-all;
}

.Social.Bar {
	@apply flex gap-x-2;
}

/*
 * Styles for the footer component
 */
.Footer {
	@apply flex flex-col px-6 py-12;
}

.Footer .content {
	@apply flex flex-col sm:items-end sm:flex-row  items-center;
}

.Footer .powered {
	@apply flex pt-8;
}

.Footer .right {
	@apply sm:ml-auto py-6 sm:py-0 flex flex-col items-center sm:items-end;
}

.Footer .Social {
	@apply mt-4 sm:mt-1;
}

.Footer .Copyright {
	@apply flex flex-col items-center sm:items-start;
}

/*
 * Styles for the latest component
 */
.Latest {
	@apply flex p-2 sm:p-12 flex-col sm:flex-row;
}

.Latest .heading {
	@apply mb-2 mr-6;
	flex-basis: 25%;
}

.Latest .container {
	@apply flex gap-x-8;
	flex-basis: 75%;
}

/*
 * Styles for the recent component
 */
.Recent,
.Search.Results {
	@apply flex p-2 sm:p-12 flex-col sm:flex-row;
}

.Recent .heading,
.Search.Results .heading {
	@apply mb-2 mr-6;
	flex-basis: 25%;
}

.Recent .container,
.Search.Results .container {
	@apply grid grid-flow-row grid-cols-1 sm:grid-cols-2 gap-8;
	flex-basis: 75%;
}

/*
 * Styles for the page (dashboard) component
 */
.Page.Dashboard {
	@apply flex flex-col;
}

.Page .loadingWrapper {
	@apply relative h-64;
}

/*
 * Styles for the header component
 */
.Header {
	@apply flex py-6 flex-col;
}

.Header .title {
	@apply font-semibold text-5xl py-6;
}

.Header .center {
	@apply flex flex-grow text-center flex-col content-center;
}

.Header .top {
	@apply flex;
}

.Header .right {
	@apply mr-4 ml-auto flex gap-x-4;
}

.Header .action {
	@apply my-2 mx-auto py-4;
}

/*
 * Styles for the page (entry) component
 */

.Page.Entry {
	@apply flex flex-col;
}

.Page.Entry .body {
	@apply flex flex-row;
}

.Page.Entry .sidebar {
	@apply mr-16 ml-8 mt-4;
}

/*
 * Styles for the link component
 */
.Link.clickable {
	@apply cursor-pointer;
}

/*
 * Styles for the tag component
 */
.Tag.Item {
	@apply inline-flex items-center rounded-full bg-blue-500 text-xs px-1.5 py-0.5;
}

.Tag.Bar {
	@apply flex gap-x-2;
}

/*
 * Styles for the theme toggle component
 */

.ThemeToggle .mode {
	@apply relative block h-8 border;
	border-radius: 30px;
	width: 58px;
	outline-width: 0;
	outline-offset: 0;
	--tw-border-opacity: 1;
	border-color: rgba(212, 212, 216, var(--tw-border-opacity));
	--tw-text-opacity: 1;
	color: rgba(212, 212, 216, var(--tw-text-opacity));
}

.ThemeToggle .mode::after {
	content: '';
	position: absolute;
	right: 6px;
	top: 5px;
	border-radius: 50%;
	transition: transform 0.3s;
	height: 1.25rem;
	width: 1.25rem;
	--tw-bg-opacity: 1;
	background-color: rgba(212, 212, 216, var(--tw-bg-opacity));
}

html.dark .ThemeToggle .mode::before {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23999' stroke-width='2' fill='%23999' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Cpath d='M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z'/%3E%3C/svg%3E");
	transform: translateX(26px);
}

html.dark .ThemeToggle .mode::after {
	transform: translateX(-24px);
}

.ThemeToggle .mode::before {
	@apply absolute h-full bg-cover bg-no-repeat top-0 left-0 w-8;
	content: '';
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23999' stroke-width='2.4' fill='none' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='5'/%3E%3Cpath d='M12 1v2m0 18v2M4.22 4.22l1.42 1.42m12.72 12.72 1.42 1.42M1 12h2m18 0h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42'/%3E%3C/svg%3E");
	background-size: 50%;
	transition: 0.3s;
	background-position: 50%;
	background-color: initial;
	opacity: 0.5;
}

/*
 * Styles for the author component
 */
.Author {
	@apply flex items-center;
}

.Author .avatar {
	@apply rounded-full w-8 h-8;
}

.Author .name {
	@apply ml-2;
}

/*
 * Styles for the sidebar component
 */
.Sidebar {
	@apply flex flex-col gap-y-8;
}

/*
 * Styles for the search bar component
 */

.Search.Bar {
	@apply border rounded-full flex items-center w-48 h-8 overflow-hidden;
}

.Search.Bar .icon {
	@apply mx-2;
}

.Search.Bar .input {
	@apply w-full border-0 py-1 pr-2 outline-none;
}

.Loader {
	@apply absolute left-0 top-0 right-0 bottom-0 flex items-center content-center justify-center;
}

.Loader .inner {
	@apply w-12 h-12 rounded-full border-3 animate-ping border-gray-900 m-6;
}
