@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial,
		Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	tab-size: 4;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	@apply transition-colors duration-200;
	background-color: var(--page-bg-color);
	color: var(--page-text-color);
}

.preload,
.preload * {
	@apply !transition-none;
}

a.link {
	@apply cursor-pointer;
}

.Page .Pinpoint.constraint {
	@apply mx-auto px-4 md:px-10 w-full;
	max-width: 80rem;
}

/*
 * Styles for the header component
 */
.headerWrapper {
	@apply transition-colors duration-200;
	background-color: var(--header-bg-color);
}

.Header {
	@apply flex py-5 flex-col;
}

.Pinpoint.Header .top {
	@apply flex justify-between;
}

.Pinpoint.Header .left {
	@apply flex items-center;
}

.Pinpoint.Header .mobileMenuButton {
	@apply hidden;
}

.Pinpoint.Header .right {
	@apply flex gap-x-4;
}

.Pinpoint.Header .center {
	@apply py-8 flex flex-col content-center text-center;
}

.Pinpoint.Header .title {
	@apply font-semibold text-4xl md:text-5xl py-6 transition-colors duration-200;
	color: var(--header-title-color);
}

.Pinpoint.Header .description {
	@apply transition-colors duration-200;
	color: var(--header-description-color);
}

.Pinpoint.Header .action {
	@apply mt-6 mx-auto;
}

.Pinpoint.Header .Subscribe {
	color: var(--header-subscribe-color);
}

/*
 * Styles for the search bar component
 */

.Pinpoint.Search.Bar {
	@apply border rounded-full flex items-center w-48 h-8 overflow-hidden transition-colors duration-200;
	border-color: var(--header-control-color);
	color: var(--header-control-color);
	border-style: solid;
}

.Pinpoint.Search.Bar .icon {
	@apply ml-3 mr-2;
}

.Pinpoint.Search.Bar .input {
	@apply w-full border-0 py-1 pr-2 outline-none bg-transparent transition-colors duration-200;
	color: var(--page-text-color);
}

.Pinpoint.Search.Bar .input::placeholder {
	@apply opacity-30 transition-colors duration-200;
	color: var(--page-text-color);
}

/*
 * Styles for the theme toggle component
 */

.Pinpoint.ThemeToggle .mode {
	@apply relative block h-8 border transition-colors duration-200;
	border-radius: 30px;
	width: 58px;
	outline-width: 0;
	outline-offset: 0;
	border-color: var(--header-control-color);
	color: var(--header-control-color);
}

.Pinpoint.ThemeToggle .mode::after {
	content: '';
	position: absolute;
	right: 6px;
	top: 5px;
	border-radius: 50%;
	transition: transform 0.3s;
	height: 1.25rem;
	width: 1.25rem;
	background-color: var(--header-control-color);
}

html.dark .Pinpoint.ThemeToggle .mode::before {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23999' stroke-width='2' fill='%23999' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Cpath d='M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z'/%3E%3C/svg%3E");
	transform: translateX(26px);
}

html.dark .Pinpoint.ThemeToggle .mode::after {
	transform: translateX(-24px);
}

.Pinpoint.ThemeToggle .mode::before {
	@apply absolute h-full bg-cover bg-no-repeat top-0 left-0 w-8;
	content: '';
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='%23999' stroke-width='2.4' fill='none' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='5'/%3E%3Cpath d='M12 1v2m0 18v2M4.22 4.22l1.42 1.42m12.72 12.72 1.42 1.42M1 12h2m18 0h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42'/%3E%3C/svg%3E");
	background-size: 50%;
	transition: 0.3s;
	background-position: 50%;
	background-color: initial;
	opacity: 0.5;
}

/*
 * Styles for the subscribe component
 */
.Pinpoint.Subscribe {
	@apply flex items-center cursor-pointer no-underline transition-colors duration-200;
	color: var(--page-highlight-color);
}

.Pinpoint.Subscribe.invisible {
	@apply invisible;
}

.Pinpoint.Subscribe.visible {
	@apply visible;
}

.Pinpoint.Subscribe .text {
	@apply ml-1 text-sm;
}

/*
 * Styles for the footer component
 */
.Pinpoint .footerWrapper {
	@apply transition-colors duration-200;
	background-color: var(--footer-bg-color);
	color: var(--footer-text-color);
}

.Pinpoint.Footer {
	@apply py-14 text-sm transition-colors duration-200;
	background-color: var(--footer-bg-color);
	color: var(--footer-text-color);
}

.Pinpoint.Footer .content {
	@apply flex flex-col md:items-end md:flex-row items-center;
}

.Pinpoint.Footer .powered {
	@apply flex pt-8;
}

.Pinpoint.Footer .right {
	@apply md:ml-auto py-6 md:py-0 flex flex-col items-center md:items-end;
}

.Pinpoint.Footer .Social,
.Pinpoint.Footer .SocialMedia {
	@apply mt-4 md:mt-1;
}

.Pinpoint.Footer .Copyright {
	@apply flex flex-col items-center md:items-start;
}

.Pinpoint.Footer .Pinpoint.Subscribe {
	@apply transition-all duration-200;
	color: var(--footer-text-color);
}

.Pinpoint.Footer .Pinpoint.Subscribe:hover {
	filter: brightness(1.5);
}

/*
 * Styles for the copyright component
 */
.Pinpoint.Copyright .text {
	@apply mt-1;
}

/*
 * Styles for the social components
 */
.Pinpoint.SocialMedia,
.Pinpoint.Social {
	@apply no-underline transition-all duration-200;
}

.Pinpoint.SocialMedia.Bar,
.Pinpoint.Social.Bar {
	@apply flex gap-x-4;
}

.Pinpoint.SocialMedia.Bar a:hover,
.Pinpoint.Social.Bar a:hover {
	filter: brightness(1.5);
}

.Pinpoint.SocialMedia.Bar.sharing,
.Pinpoint.Social.Bar.sharing {
	@apply flex gap-x-2;
}

.Pinpoint.SocialMedia.ShareItem,
.Pinpoint.Social.Item.sharing {
	@apply flex flex-col items-center content-center justify-center rounded-lg w-8 h-8 text-white hover:filter-none;
}

.Pinpoint.SocialMedia.TwitterShare,
.Pinpoint.Social.sharing.Twitter {
	@apply bg-[#55acee] hover:bg-[#2795e9];
}

.Pinpoint.SocialMedia.FacebookShare,
.Pinpoint.Social.sharing.Facebook {
	@apply bg-[#3b5998] hover:bg-[#2d4373];
}

.Pinpoint.SocialMedia.LinkedInShare,
.Pinpoint.Social.sharing.LinkedIn {
	@apply bg-[#0077b5] hover:bg-[#046293];
}

.Pinpoint.SocialMedia.EmailShare,
.Pinpoint.Social.sharing.Email {
	@apply bg-gray-500 hover:bg-gray-600;
}

/*
 * Styles for the card components
 */
.Pinpoint.Content.Card.Container.wrapper {
	@apply w-full rounded-md overflow-hidden flex flex-col cursor-pointer shadow-md hover:shadow-lg transition-all duration-200;
	background-color: var(--card-bg-color);
}

.Pinpoint.Content.Card.Container.wrapper .cover,
.Pinpoint.Content.Card.Container.wrapper .covermedia .media-container img {
	@apply md:h-36 lg:h-48 w-full object-cover object-center;
}

.Pinpoint.Content.Card.Container.wrapper .empty-cover {
	@apply md:h-36 lg:h-48 w-full;
	background-image: linear-gradient(to right, var(--card-empty-gradient-from), var(--card-empty-gradient-to));
}

.Pinpoint.Content.Card.Container.wrapper .content {
	@apply flex flex-col p-6 flex-grow flex-shrink;
}

.Pinpoint.Content.Card.Container.wrapper .footer {
	@apply flex mt-auto;
}

.Pinpoint.Content.Card.Container.wrapper .statistics {
	@apply ml-auto;
}

.Pinpoint.Content.Card .Date {
	@apply mt-0.5 text-xs mb-2 transition-colors duration-200;
	color: var(--card-date-color);
}

.Pinpoint.Content.Card.Title {
	@apply text-lg font-semibold transition-colors duration-200;
	color: var(--card-title-color);
}

.Pinpoint.Content.Card:hover .Title {
	@apply transition-colors duration-200;
	color: var(--card-link-color);
}

.Pinpoint.Content.Card.Description {
	@apply mb-4 transition-colors duration-200;
	color: var(--card-summary-color);
}

.Pinpoint.Content.Card.Read {
	@apply flex items-center cursor-pointer no-underline transition-colors duration-200;
	color: var(--card-link-color);
}

.Pinpoint.Content.Card.Read .arrow {
	@apply ml-2;
}

.Pinpoint.Content.Card .Tag.Bar {
	@apply mb-4;
}

/*
 * Styles for the statistic components
 */
.Pinpoint.Statistic.wrapper {
	@apply flex items-center transition-colors duration-200;
	color: var(--card-info-color);
}

.Pinpoint.Statistic .count {
	@apply ml-2;
}

.Pinpoint.Statistic.Bar .Statistic.Views.wrapper {
	@apply mr-4;
}

/*
 * Styles for the dashboard and search components
 */
.latestWrapper {
	@apply py-10 md:py-14 transition-colors duration-200;
	background-color: var(--section-bg-color);
}

.Pinpoint.Latest .heading,
.Pinpoint.Recent .heading,
.Pinpoint.Search.Query .heading,
.Pinpoint.Search.Results .heading {
	@apply text-2xl font-semibold;
}

.Pinpoint.Latest {
	@apply flex flex-col md:flex-row;
}

.Pinpoint.Latest .heading,
.Pinpoint.Recent .heading,
.Pinpoint.Search.Results .heading {
	@apply mb-10 md:mb-0 md:mr-4;
	flex-basis: 25%;
}

.Pinpoint.Latest .cards {
	@apply flex gap-x-8;
	flex-basis: 75%;
}

.Pinpoint.Latest .Content.Card.Container.wrapper .cover,
.Pinpoint.Latest .Content.Card.Container.wrapper .covermedia .media-container img,
.Pinpoint.Latest .Content.Card.Container.wrapper .empty-cover {
	@apply md:!h-64 lg:!h-80;
}

.recentWrapper,
.searchResultsWrapper {
	@apply py-10 md:py-14;
}

.Pinpoint.Recent,
.Pinpoint.Search.Results {
	@apply flex flex-col md:flex-row;
}

.Pinpoint.Recent .cards,
.Pinpoint.Search.Results .cards {
	@apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-4 md:gap-8 grid-flow-row;
	flex-basis: 75%;
}

.Pinpoint.Recent .pageIndicator {
	@apply font-normal text-base ml-2 transition-colors duration-200;
	color: var(--page-secondary-text-color);
}

.Pinpoint .searchQueryWrapper {
	@apply py-10 md:py-14 transition-colors duration-200;
	background-color: var(--section-bg-color);
}

.Pinpoint.Search.Query .heading {
	@apply mb-4;
}

.Pinpoint.Search.Query .query {
	@apply flex;
}

.Pinpoint.Search.Results .empty {
	@apply text-3xl font-bold text-center ml-auto mr-auto;
}

.Pinpoint .searchResultsWrapper .empty {
	@apply mt-[5vh];
}

.Pinpoint.Search.Results .back {
	@apply flex items-center justify-center text-gray-500 text-xl mt-6 font-normal cursor-pointer;
}

.Pinpoint.Search.Results .back .icon {
	@apply mr-2;
}

/*
 * Pagination
 */
.Pinpoint .paginationWrapper {
	@apply pb-10 md:pb-14 flex-grow;
}

.Pinpoint .paginationWrapper .Pagination {
	@apply md:ml-[calc(25%+1rem)];
}

.Pinpoint.Pagination {
	@apply flex justify-between items-center space-x-10 transition-colors duration-200;
	color: var(--page-highlight-color);
}

.Pinpoint.Pagination.forwardOnly {
	@apply justify-end;
}

.Pinpoint.Pagination .back,
.Pinpoint.Pagination .forward {
	@apply min-w-0 flex items-center cursor-pointer;
	flex: 1 1 50%;
}

.Pinpoint.Pagination .forward {
	@apply justify-end;
}

.Pinpoint.Pagination .forward .icon {
	@apply ml-2 flex-shrink-0;
}

.Pinpoint.Pagination .back .icon {
	@apply mr-2 flex-shrink-0;
}

.Pinpoint.Pagination .back .text,
.Pinpoint.Pagination .forward .text {
	@apply truncate;
}

/*
 * Styles for the page (dashboard) component
 */
.Pinpoint.Page.Dashboard {
	@apply flex flex-col h-screen;
}

.Pinpoint.Page .loaderWrapper {
	@apply relative flex-grow;
}

/*
 * Styles for the page (entry) component
 */

.Pinpoint.Page.Entry {
	@apply flex flex-col h-screen;
}

.Pinpoint .entryWrapper {
	@apply flex-grow transition-colors duration-200;
	background-color: var(--article-bg-color);
}

.Pinpoint .entryWrapper .entry {
	@apply py-10 md:py-14 flex flex-col md:flex-row border-t transition-colors duration-200;
	border-color: var(--section-border-color);
}

.Pinpoint .entryWrapper .entry article {
	@apply flex-grow;
}

.Pinpoint .entryWrapper .entry .content {
	@apply flex-grow;
}

.Pinpoint .entryWrapper .sidebarWrapper {
	@apply transition-colors duration-200;
	color: var(--article-info-color);
}

.Pinpoint .entryWrapper .sidebarWrapper.before {
	@apply md:mr-4 mb-8 md:mb-0 min-w-1/4;
}

.Pinpoint .entryWrapper .sidebarWrapper.before .Sidebar {
	@apply flex-shrink-0 flex-wrap;
}

.Pinpoint .entryWrapper .sidebarWrapper.before .Clap,
.Pinpoint .entryWrapper .sidebarWrapper.before .SocialMedia.Bar,
.Pinpoint .entryWrapper .sidebarWrapper.before .Social.Bar {
	@apply hidden md:flex;
}

.Pinpoint .entryWrapper .sidebarWrapper.after {
	@apply md:hidden mt-8;
}

.Pinpoint .entryWrapper .sidebarWrapper.after .Sidebar {
	@apply justify-between;
}

.Pinpoint .entryWrapper .sidebarWrapper.after .Date,
.Pinpoint .entryWrapper .sidebarWrapper.after .Author,
.Pinpoint .entryWrapper .sidebarWrapper.after .Tag.Bar {
	@apply hidden;
}

.Pinpoint .entryWrapper .renderer {
	@apply mb-10 md:mb-14 transition-colors duration-200;
	color: var(--article-text-color);
}

/*
 * Styles for the sidebar component
 */
.Pinpoint.Sidebar {
	@apply flex flex-row md:flex-col items-center md:items-start gap-y-4 md:gap-y-8;
}

/*
 * Date
 */
.Pinpoint .entryWrapper .Date {
	@apply font-semibold flex-grow md:flex-initial flex-shrink-0 w-full md:w-auto;
}

/*
 * Styles for the author component
 */
.Pinpoint.Author,
.Pinpoint.Author > .Pinpoint.Link,
.Pinpoint.Author a {
	@apply flex items-center mr-auto;
}

.Pinpoint.Author .avatar {
	@apply rounded-full mr-2 w-8 h-8 border-2;
	border-color: var(--page-secondary-text-color);
}

.Pinpoint.Author .name {
	@apply whitespace-nowrap;
}

/*
 * Styles for the interactive clap component
 */
.Pinpoint.Clap.wrapper {
	@apply relative cursor-pointer flex items-center;
}

.Pinpoint.Clap.icon {
	@apply inline-flex items-center content-center transition-all;
	color: var(--page-secondary-text-color);
}

.Pinpoint.Clap.icon.active {
	color: var(--page-highlight-color);
}

.Pinpoint.Clap.counter {
	@apply opacity-0 ml-1 transition-all;
	color: var(--page-secondary-text-color);
}

.Pinpoint.Clap.counter.active {
	@apply opacity-100;
}

.Pinpoint.Clap.notice {
	@apply rounded-full opacity-0 absolute bg-black text-white select-none transition-all left-0 px-2 py-0.5;
}

.Pinpoint.Clap.notice.active {
	@apply opacity-100 left-12;
}

/*
 * Styles for the tag component
 */
.Pinpoint.Tag.Item {
	@apply inline-flex items-center rounded-full text-xs px-1.5 py-0.5;
}

.Pinpoint.Tag.Item.nocolor {
	@apply text-gray-600 bg-gray-300 border border-gray-500;
}

.Pinpoint.Tag.Item .icon {
	@apply ml-1;
}

.Pinpoint.Tag.Bar {
	@apply flex flex-wrap gap-x-2 gap-y-2;
}

/*
 * Loader
 */
.Pinpoint.Loader {
	@apply absolute left-0 top-0 right-0 bottom-0 flex items-center content-center justify-center;
}

.Pinpoint.Loader .inner {
	@apply w-12 h-12 rounded-full border-3 animate-ping border-gray-900 m-6;
	border-color: var(--page-secondary-text-color);
}

/*
 * Styles for the logo component
 */
.Pinpoint.Logo {
	@apply block rounded-full overflow-hidden;
}

.Pinpoint.Logo.xs {
	width: 22px;
	height: 22px;
}

.Pinpoint.Logo.sm {
	width: 32px;
	height: 32px;
}

.Pinpoint.Logo.md {
	width: 42px;
	height: 42px;
}

.Pinpoint.Logo.lg {
	width: 52px;
	height: 52px;
}

.Pinpoint.Logo.xl {
	width: 62px;
	height: 62px;
}

.Pinpoint.Logo .image {
	width: 100%;
	height: 100%;
}

/*
 * Styles for the link component
 */
.Pinpoint.Link.clickable {
	@apply cursor-pointer;
}

/*
 * Error
 */
.Pinpoint.Page.ErrorPage {
	@apply h-screen w-full flex flex-col justify-between items-stretch;
}

.Pinpoint .errorWrapper {
	@apply flex-grow py-10 flex flex-col justify-center;
}

.Pinpoint.Error {
	@apply flex flex-col justify-center items-center text-center;
}

.Pinpoint.Error .logo {
	@apply mb-10 md:mb-14;
}

.Pinpoint.Error .error {
	@apply uppercase font-medium;
	color: var(--page-error-color);
}

.Pinpoint.Error .title {
	@apply my-4 text-4xl md:text-5xl font-semibold;
	color: var(--page-title-color);
}

.Pinpoint.Error .description {
	@apply text-lg;
	color: var(--page-secondary-text-color);
}

.Pinpoint.Error .link {
	@apply mt-10 flex text-xl items-center;
	color: var(--page-highlight-color);
}

.Pinpoint.Error .link .icon {
	@apply ml-2;
}

.Pinpoint.Banner.wrapper {
	@apply w-full flex flex-row items-center justify-center p-4 bg-yellow-500 text-yellow-900;
}

.Pinpoint.Banner .close {
	@apply ml-auto cursor-pointer;
}

.Pinpoint.Banner .inner {
	@apply flex items-center flex-row w-full max-w-[75rem];
}

.Pinpoint.Banner .icon {
	@apply mr-2 w-4 h-4;
}

.Pinpoint.SubscribeForm.wrapper {
	@apply block;
}

.Pinpoint.SubscribeForm.invisible {
	@apply invisible;
}

.Pinpoint.SubscribeForm.visible {
	@apply visible;
}

.Pinpoint.SubscribeForm .inner {
	@apply flex flex-row;
}

.Pinpoint.SubscribeForm .inner .input {
	@apply relative border-2 mr-2 focus-within:border-blue-500 disabled:focus-within:border-gray-500;
}

.Pinpoint.SubscribeForm .spinner {
	@apply absolute top-2 right-1 text-indigo-500 z-10;
}

.Pinpoint.SubscribeForm .spinner.visible {
	@apply visible;
}

.Pinpoint.SubscribeForm .spinner.invisible {
	@apply invisible;
}

.Pinpoint.SubscribeForm input {
	@apply p-1 focus:outline-none pr-4 bg-white disabled:text-gray-400 disabled:bg-white disabled:cursor-not-allowed;
}

.Pinpoint.SubscribeForm button {
	@apply border rounded text-gray-700 bg-gray-100 px-2 py-1 disabled:bg-gray-50 disabled:text-gray-400 disabled:cursor-not-allowed;
}

.Pinpoint.SubscribeForm .success {
	@apply text-green-600 dark:text-green-500 text-sm text-left mt-1;
}

.Pinpoint.SubscribeForm .error {
	@apply text-red-500 text-sm text-left mt-1;
}

.Pinpoint.SubscribeForm .error .icon,
.Pinpoint.SubscribeForm .success .icon {
	@apply mr-1;
}

.Pinpoint.SubscribeForm .error.visible {
	@apply visible;
}

.Pinpoint.SubscribeForm .error.invisible {
	@apply invisible;
}

.Pinpoint.Image :not(.image_block) {
	/* note: image block can have alignment and shouldn't be responsive */
	@apply max-w-full w-full h-auto;
}

:not(.covermedia) .Pinpoint.video video {
	@apply w-full object-cover object-center;
}

:not(.covermedia) .Pinpoint.audio audio {
	@apply w-full object-cover object-center;
}

.covermedia .Pinpoint.Image img.blurhash {
	@apply h-[19rem] sm:h-[27rem] md:h-[32rem] lg:h-[36rem];
}

.Pinpoint.feedbackWrapper {
	@apply mt-10 mb-5 border rounded p-4 inline-flex bg-white shadow-lg;
}

.Pinpoint.Form.Wrapper {
	@apply flex flex-col w-full;
}

.Pinpoint.Form.Parent {
	@apply mt-4 sm:mt-8 sm:mx-8 py-2 px-4;
}

.Pinpoint.Form.Control {
	@apply mb-4 md:mb-0 flex flex-col md:flex-row md:justify-between;
}

.Pinpoint.Form.Heading {
	@apply mb-4 md:mb-8;
}

.Pinpoint.Form.Heading h1 {
	@apply font-bold text-2xl leading-8 text-gray-800 whitespace-nowrap dark:text-white;
}

.Pinpoint.Form.Heading h2 {
	@apply mt-2 text-gray-500 dark:text-gray-300;
}

.Pinpoint.Form.BottomButton {
	@apply flex flex-wrap;
}

.Pinpoint.Form.Spacer {
	@apply space-x-4;
}

.Pinpoint.Form.SaveButton {
	@apply disabled:opacity-50 inline-flex items-center justify-center cursor-pointer disabled:cursor-not-allowed px-4 py-1.5 focus:outline-none font-normal rounded-md transition-colors duration-200 bg-green-600 hover:bg-green-800 text-white ml-8;
}

.Pinpoint.Field.Wrapper {
	@apply flex flex-col;
}

.Pinpoint.Field.Parent {
	@apply flex flex-row text-sm;
}

.Pinpoint.Field.Label {
	@apply font-semibold text-gray-700 dark:text-gray-300;
}

.Pinpoint.Field.Status {
	@apply ml-auto mr-1 space-x-2 flex flex-row items-center;
}

.Pinpoint.Field.Error {
	@apply text-red-500;
}

.Pinpoint.Field.Info {
	@apply text-gray-400;
}

.Pinpoint.Field.Children {
	@apply mt-1;
}

.Pinpoint.Field.Description {
	@apply mt-2 text-sm text-gray-500;
}

.Pinpoint.SegmentedControl.Wrapper {
	@apply flex space-x-2;
}

.Pinpoint.SegmentedControl.Button {
	@apply w-8 h-8 rounded border;
}

.Pinpoint.SegmentedControl.Button.active {
	@apply bg-blue-500 border-transparent text-white;
}

.Pinpoint.SegmentedControl.Button.inactive {
	@apply bg-white;
}

.Pinpoint.Field.FullWidth {
	@apply w-full;
}

.Pinpoint.subscribeWrapper,
.Pinpoint.unsubscribeWrapper,
.Pinpoint.manageWrapper {
	@apply flex-grow;
}

.Pinpoint.SubscriptionSubscribe .Pinpoint.Form.Control {
	@apply hidden;
}

.Pinpoint.SubscriptionSubscribe.Title {
	@apply text-3xl pt-4 mb-4 px-12 text-center dark:text-white;
}

.Pinpoint.SubscriptionSubscribe.Description {
	@apply text-center mb-12 px-12 text-gray-600 dark:text-gray-300;
}

.Pinpoint.SubscriptionSubscribe.Wrapper {
	@apply flex items-center flex-col mx-16 sm:mx-36 mb-16;
}

.Pinpoint.SubscriptionSubscribe.Field {
	@apply flex-1 disabled:cursor-not-allowed focus:ring-blue-500 focus:border-blue-500 block w-full min-w-0 rounded-md text-sm border-gray-300 focus:bg-white bg-gray-100 p-2 border text-black;
}

.Pinpoint.SubscriptionSubscribe.Submit {
	@apply disabled:opacity-50 inline-flex justify-center cursor-pointer disabled:cursor-not-allowed px-4 py-1.5 rounded-md flex items-center font-semibold text-white bg-green-600 hover:bg-green-500 transition-colors duration-200 focus:outline-none;
}

.Pinpoint.EmailValidation.Subscribing {
	@apply flex items-center w-full;
}

.Pinpoint.EmailValidation.Subscribing.Icon {
	@apply text-gray-700 mr-2;
}

.Pinpoint.EmailValidation.Error {
	@apply flex items-center text-orange-600 w-full;
}

.Pinpoint.EmailValidation.Message {
	@apply flex items-center text-green-600 w-full;
}

.Pinpoint.EmailValidation.Status {
	@apply flex items-center w-full;
}

.Pinpoint.EmailValidation.Status.Success {
	@apply text-green-600;
}

.Pinpoint.EmailValidation.Status.Invalid {
	@apply text-orange-600;
}

.Pinpoint.EmailValidation.Status .Pinpoint.EmailValidation.Icon {
	@apply mr-2;
}

/* Manage Subscription Component */
.Pinpoint.SubscriptionManage.Wrapper {
	@apply flex items-center flex-col mx-16 sm:mx-36 mb-16;
}
.Pinpoint.SubscriptionManage.Entry {
	@apply bg-gray-100 w-full p-6 rounded-lg mb-6 dark:bg-gray-700;
}

.Pinpoint.SubscriptionManage.Title {
	@apply text-3xl pt-4 mb-4 px-12 text-center dark:text-white;
}

.Pinpoint.SubscriptionManage.Description {
	@apply text-center mb-12 px-12 text-gray-600 dark:text-gray-300;
}

.Pinpoint.SubscriptionManage.Container {
	@apply flex flex-grow items-center;
}

.Pinpoint.SubscriptionManage.SiteLogo {
	@apply w-12 h-12 rounded-full mr-4;
}

.Pinpoint.SubscriptionManage.SiteName {
	@apply font-medium text-lg dark:text-white;
}

.Pinpoint.SubscriptionManage.SubscriptionDate {
	@apply text-sm text-gray-700 dark:text-gray-300;
}

.Pinpoint.SubscriptionManage.Buttons {
	@apply ml-auto pl-6 flex flex-row space-x-2 flex-shrink-0;
}

.Pinpoint.SubscriptionManage.Buttons .Pinpoint.SubscriptionManage.UpdateButton {
	@apply disabled:opacity-50 inline-flex items-center justify-center cursor-pointer disabled:cursor-not-allowed px-4 py-1.5 focus:outline-none font-normal rounded-md text-sm transition-colors duration-200 bg-gray-400 disabled:bg-gray-400 disabled:hover:bg-gray-400 hover:bg-gray-500 dark:bg-gray-500 dark:hover:bg-gray-600 text-white;
}

.Pinpoint.SubscriptionManage.Buttons .Pinpoint.SubscriptionManage.UnsubscribeButton {
	@apply disabled:opacity-50 inline-flex items-center justify-center cursor-pointer disabled:cursor-not-allowed px-4 py-1.5 focus:outline-none font-normal rounded-md text-sm transition-colors duration-200 bg-red-800 disabled:bg-red-800 disabled:hover:bg-red-800 hover:bg-red-900 text-white;
}

/* Email Action Component */
.Pinpoint.EmailAction.ErrorWrapper {
	@apply rounded-md bg-red-50 p-4 flex w-full mb-6;
}

.Pinpoint.EmailAction.Container {
	@apply flex flex-grow items-center;
}

.Pinpoint.EmailAction.Container .Pinpoint.EmailAction.ErrorIcon {
	@apply flex-shrink-0 text-red-400;
}

.Pinpoint.EmailAction.Message {
	@apply ml-3;
}

.Pinpoint.EmailAction.Message .Pinpoint.EmailAction.ErrorText {
	@apply text-sm font-medium text-red-800;
}

.Pinpoint.EmailAction.Interactive {
	@apply ml-auto pl-3;
}

.Pinpoint.EmailAction.ButtonWrapper {
	@apply -mx-1.5 -my-1.5;
}

.Pinpoint.EmailAction.ErrorButton {
	@apply inline-flex bg-red-50 rounded-md p-1.5 text-red-500 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-50 focus:ring-red-600;
}

.Pinpoint.EmailAction.SR {
	@apply sr-only;
}

.Pinpoint.EmailAction.MessageWrapper {
	@apply rounded-md bg-green-50 p-4 flex w-full mb-6;
}

.Pinpoint.EmailAction.Container .Pinpoint.EmailAction.MessageIcon {
	@apply flex-shrink-0 text-green-400;
}

.Pinpoint.EmailAction.Message .Pinpoint.EmailAction.MessageText {
	@apply text-sm font-medium text-green-800;
}

.Pinpoint.EmailAction.MessageButton {
	@apply inline-flex bg-green-50 rounded-md p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-50 focus:ring-green-600;
}

/* Subscription Verify Component */

.Pinpoint.SubscriptionVerify.Wrapper {
	@apply flex flex-col justify-center items-center;
}

.Pinpoint.SubscriptionVerify.Content {
	@apply flex-grow flex justify-center items-center;
}

.Pinpoint.SubscriptionVerify.Inner {
	@apply flex items-center flex-col mx-16 sm:mx-36 mb-16;
}

.Pinpoint.SubscriptionVerify.Form {
	@apply mt-6 grid grid-cols-1 sm:grid-cols-2 gap-x-4 gap-y-4;
}

.Pinpoint.SubscriptionVerify.Save {
	@apply disabled:opacity-50 inline-flex justify-center cursor-pointer disabled:cursor-not-allowed px-4 py-1.5 rounded-md flex items-center font-semibold text-white bg-green-600 hover:bg-green-500 transition-colors duration-200 focus:outline-none ml-8;
}

/* Subscription Unsubscribe Component */

.Pinpoint.SubscriptionUnsubscribe.Wrapper {
	@apply flex flex-col justify-center items-center;
}

.Pinpoint.SubscriptionUnsubscribe.Container {
	@apply flex-grow flex justify-center items-center max-w-5xl;
}

.Pinpoint.SubscriptionUnsubscribe.Content {
	@apply flex items-center flex-col mx-16 sm:mx-36 mb-16 dark:text-white;
}

.Pinpoint.SubscriptionUnsubscribe.Logo {
	@apply w-20 h-20 rounded-full;
}

.Pinpoint.SubscriptionUnsubscribe.Name {
	@apply text-2xl py-5;
}

.Pinpoint.SubscriptionUnsubscribe.Warning {
	@apply py-10 text-xl text-center;
}

.Pinpoint.SubscriptionUnsubscribe.Button.Resubscribe {
	@apply disabled:opacity-50 inline-flex items-center justify-center cursor-pointer disabled:cursor-not-allowed px-4 py-1.5 focus:outline-none font-normal rounded-md text-sm transition-colors duration-200 bg-gray-400 disabled:bg-gray-400 disabled:hover:bg-gray-400 hover:bg-gray-500 dark:bg-gray-500 dark:hover:bg-gray-600 text-white;
}

.Pinpoint.SubscriptionUnsubscribe.Button.Unsubscribe {
	@apply disabled:opacity-50 inline-flex items-center justify-center cursor-pointer disabled:cursor-not-allowed px-4 py-1.5 focus:outline-none font-normal rounded-md text-sm transition-colors duration-200 bg-red-800 disabled:bg-red-800 disabled:hover:bg-red-800 hover:bg-red-900 text-white;
}

.Pinpoint.SubscriptionUnsubscribe.Manage {
	@apply text-gray-600 text-sm pt-10 underline dark:text-gray-300 cursor-pointer;
}

/* styles from medium zoom image */
.medium-zoom-overlay,
.medium-zoom-image--opened {
	@apply z-[5000];
}

@media (prefers-reduced-motion: reduce) {
	.medium-zoom-image {
		transition: transform 1ms !important;
	}
}
