@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Styles for the interactive clap component
 */
.Clap.wrapper {
	@apply relative cursor-pointer flex items-center;
}

.Clap.icon {
	@apply inline-flex items-center content-center transition-all;
}

.Clap.counter {
	@apply opacity-0 ml-1 transition-all;
}

.Clap.counter.active {
	@apply opacity-100;
}

.Clap.notice {
	@apply rounded-full opacity-0 absolute bg-black text-white select-none transition-all left-0 px-2 py-0.5;
}

.Clap.notice.active {
	@apply opacity-100 left-12;
}

/*
 * Styles for the statistic components
 */
.Statistic.wrapper {
	@apply flex items-center;
}

.Statistic .count {
	@apply ml-2;
}

.Statistic.Bar .Statistic.Views.wrapper {
	@apply mr-4;
}

/*
 * Styles for the changelog card components
 */
.Changelog.Card.Container.wrapper {
	@apply w-full rounded-md overflow-hidden shadow bg-white mt-auto flex flex-col h-full;
}

.Changelog.Card.Container.wrapper .cover {
	@apply w-full h-80 object-cover object-center;
}

.Changelog.Card.Container.wrapper .content {
	@apply flex flex-col p-6 flex-grow flex-shrink;
}

.Changelog.Card.Container.wrapper .footer {
	@apply flex mt-auto;
}

.Changelog.Card.Container.wrapper .statistics {
	@apply ml-auto;
}

.Changelog.Card.Description {
	@apply mb-4;
}

.Changelog.Card.Date {
	@apply mt-0.5 text-xs;
}

.Changelog.Card.Read {
	@apply flex items-center cursor-pointer no-underline;
}

.Changelog.Card.Read .arrow {
	@apply ml-2;
}

/*
 * Styles for the logo component
 */
.Logo {
	@apply block rounded-full;
}

.Logo.xs {
	width: 22px;
	height: 22px;
}

.Logo.sm {
	width: 32px;
	height: 32px;
}

.Logo.md {
	width: 42px;
	height: 42px;
}

.Logo.lg {
	width: 52px;
	height: 52px;
}

.Logo.xl {
	width: 62px;
	height: 62px;
}

.Logo .image {
	width: 100%;
	height: 100%;
}

/*
 * Styles for the copyright component
 */

.Copyright .text {
	@apply mt-1 text-sm;
}

/*
 * Styles for the subscribe component
 */
.Subscribe {
	@apply flex items-center cursor-pointer no-underline;
}

.Subscribe .text {
	@apply ml-1 text-sm;
}

/*
 * Styles for the social components
 */
.Social {
	@apply no-underline transition-all;
}

.Social.Bar {
	@apply flex gap-x-2;
}

/*
 * Styles for the footer component
 */
.Footer {
	@apply flex flex-col px-6 py-12;
}

.Footer .content {
	@apply flex items-end;
}

.Footer .powered {
	@apply flex py-2;
}

.Footer .right {
	@apply ml-auto flex flex-col items-end;
}

.Footer .Social {
	@apply mt-1;
}

/*
 * Styles for the latest component
 */
.Latest {
	@apply flex p-12;
}

.Latest .heading {
	@apply mb-2 mr-6;
	flex-basis: 25%;
}

.Latest .container {
	@apply flex gap-x-8;
	flex-basis: 75%;
}

/*
 * Styles for the recent component
 */
.Recent {
	@apply flex p-12;
}

.Recent .heading {
	@apply mb-2 mr-6;
	flex-basis: 25%;
}

.Recent .container {
	@apply grid grid-flow-row grid-cols-2 gap-8;
	flex-basis: 75%;
}

/*
 * Styles for the page (dashboard) component
 */
.Page.Dashboard {
	@apply flex flex-col;
}

/*
 * Styles for the header component
 */
.Header {
	@apply flex py-6;
}

.Header .title {
	@apply font-semibold text-5xl py-6;
}

.Header .center {
	@apply flex flex-grow text-center flex-col content-center;
}

.Header .action {
	@apply my-2 mx-auto py-4;
}

/*
 * Styles for the page (entry) component
 */

.Page.Entry {
	@apply flex flex-col;
}

.Page.Entry .body {
	@apply flex flex-row;
}

/*
 * Styles for the link component
 */
.Link.clickable {
	@apply cursor-pointer;
}
