/* regular / light theme */
:root {
	/* page */
	--page-bg-color: white;
	--page-text-color: #3F3F46; /* gray-700 */
	--page-secondary-text-color: #A1A1AA; /* gray-400 */
	--page-highlight-color: #6366F1; /* indigo-500 */

	/* header */
	--header-bg-color: var(--page-bg-color);
	--header-title-color: var(--page-text-color);
	--header-description-color: var(--page-secondary-text-color);
	--header-subscribe-color: var(--page-highlight-color);

	/* content */
	--section-bg-color: #FAFAFA; /* gray-50 */
	--section-border-color: #E4E4E7; /* gray-200 */

	--tile-bg-color: white;
	--tile-title-color: var(--page-text-color);
	--tile-date-color: var(--page-secondary-text-color);
	--tile-summary-color: #71717A; /* gray-500 */
	--tile-info-color: var(--page-secondary-text-color);
	--tile-link-color: var(--page-highlight-color);

	--article-bg-color: var(--page-bg-color);
	--article-text-color: var(--page-text-color);
	--article-info-color: #71717A; /* gray-500 */
	--article-link-color: var(--page-highlight-color);
	--article-border-color: var(--section-border-color);
	--article-block-bg-color: var(--section-bg-color);

	/* footer */
	--footer-bg-color: #18181B; /* gray-900 */
	--footer-text-color: #71717A; /* gray-500 */
}

/* dark theme override */
.dark:root {
	/* page */
	--page-bg-color: #18181B; /* gray-900 */
	--page-text-color: #F4F4F5; /* gray-100 */
	--page-secondary-text-color: #A1A1AA; /* gray-400 */
	--page-highlight-color: #818CF8; /* indigo-400 */

	/* content */
	--section-bg-color: #202023; /* gray-850 */
	--section-border-color: #3F3F46; /* gray-700 */

	--tile-bg-color: #27272A; /* gray-800 */
	--tile-summary-color: #D4D4D8; /* gray-300 */

	--article-info-color: #D4D4D8; /* gray-300 */

	/* footer */
	--footer-bg-color: black;
}

.Clap.icon {
	@apply text-gray-500;
}

.Clap.icon.active {
	@apply text-purple-700;
}

.Clap.counter {
	@apply text-gray-500;
}

.Content.Card.Date {
	color: var(--tile-date-color);
}

.Content.Card.Title {
	@apply text-lg font-semibold transition-colors duration-200;
	color: var(--tile-title-color);
}
.Content.Card:hover .Title {
	color: var(--tile-link-color);
  }

.Content.Card.Description {
	color: var(--tile-summary-color);
}

.Content.Card.Container.wrapper {
	background-color: var(--tile-bg-color);
	color: var(--tile-bg-color);
}

.Latest {
	background-color: var(--section-bg-color);
}

.Latest .heading,
.Recent .heading,
.Search.Results .heading {
	@apply text-2xl font-semibold;
}

.Search.Query .heading {
	@apply text-2xl font-semibold;
}

/* .Recent,
.Search.Results {
	@apply bg-white dark:bg-gray-800;
} */

.Recent .pageIndicator {
	@apply font-normal text-base ml-2;
	color: var(--page-secondary-text-color);
}

/* .Recent .heading,
.Search.Results .heading {
	@apply text-2xl font-semibold;
} */

.Content.Card.Read {
	color: var(--tile-link-color);
}



.Subscribe {
	color: var(--header-subscribe-color);
}

/* .Header {
	@apply dark:bg-gray-800 dark:text-gray-100;
} */

/* .Statistic.Bar {
	@apply text-black dark:text-gray-100;
} */

.Author .avatar {
	@apply border-2 border-gray-300 dark:border-gray-500;
	border-color: var(--page-secondary-text-color);
}

/* .Author {
	@apply text-gray-500 dark:text-gray-100;
} */

/* .Search.Bar,
.Search.Bar .input {
	@apply bg-white dark:bg-gray-800;
} */

.Search.Bar {
	@apply border-gray-300 dark:border-gray-600;
}


.Loader .inner {
	@apply border-gray-500 dark:border-gray-300;
}

.Page .loadingWrapper {
	@apply bg-white dark:bg-gray-800 h-128;
}

/* .Page .body {
	@apply bg-white dark:bg-gray-800;
} */

.Page .constraint {
	@apply mx-auto px-4 sm:px-10 w-full;
	max-width: 80rem;
}

.Page .Pagination {
	@apply px-12 pb-6 text-indigo-500 dark:text-indigo-400;
}

/**
 * article
 */
.covermedia .image {
	@apply rounded-lg shadow-lg overflow-hidden border mb-6;
	border-color: var(--article-border-color);
}

.image_block > img {
	@apply rounded-lg shadow-lg border;
	border-color: var(--article-border-color);
}
