body {
	font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial,
		Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	@apply bg-white dark:bg-gray-800;
}

.Clap.icon {
	@apply text-gray-500;
}

.Clap.icon.active {
	@apply text-purple-700;
}

.Clap.counter {
	@apply text-gray-500;
}

.Changelog.Card.Date {
	@apply dark:text-gray-400;
}

.Changelog.Card.Title {
	@apply text-lg dark:text-gray-100;
}

.Changelog.Card.Description {
	@apply dark:text-gray-400;
}

.Changelog.Card.Container.wrapper {
	@apply dark:bg-gray-600;
}

.Latest {
	@apply bg-gray-100 dark:bg-gray-700;
}

.Latest .heading {
	@apply text-black dark:text-gray-100 text-4xl font-bold;
}

.Recent,
.Search.Results {
	@apply bg-white dark:bg-gray-800;
}

.Recent .heading,
.Search.Results .heading {
	@apply text-black dark:text-gray-100 text-4xl font-bold;
}

.Changelog.Card.Read {
	@apply text-indigo-500 dark:text-indigo-400;
}

.Footer {
	@apply bg-gray-800 dark:bg-gray-900 text-white text-gray-100;
}

.Footer .Social.Item {
	@apply dark:text-gray-100;
}

.Subscribe {
	@apply text-indigo-500 dark:text-indigo-400;
}

.Header {
	@apply dark:bg-gray-800 dark:text-gray-100;
}

.Statistic.Bar {
	@apply text-black dark:text-gray-100;
}

.Author .avatar {
	@apply border-2 border-gray-300 dark:border-gray-500;
}

.Author {
	@apply text-gray-500 dark:text-gray-100;
}

.Search.Bar,
.Search.Bar .input {
	@apply bg-white dark:bg-gray-800;
}

.Loader .inner {
	@apply border-gray-500 dark:border-gray-300;
}

.Page .loadingWrapper {
	@apply bg-white dark:bg-gray-800 h-128;
}

.Page .body {
	@apply bg-white dark:bg-gray-800;
}

.Page .constraint {
	@apply ml-auto mr-auto w-full;
	max-width: 80rem;
}

/**
 * article
 */
.covermedia .image {
	@apply rounded-lg shadow-lg overflow-hidden border mb-6;
	border-color: var(--article-border-color);
}

.image_block > img {
	@apply rounded-lg shadow-lg border;
	border-color: var(--article-border-color);
}
