/* regular theme */
:root {
	/* page */
	--page-bg-color: white;
	--page-text-color: #3f3f46; /* gray-700 */
	--page-secondary-text-color: #71717A; /* gray-500 */
	--page-highlight-color: #4F46E5; /* indigo-600 */
	--page-error-color: #dc2626; /* red-600 */

	/* header */
	--header-bg-color: var(--page-bg-color);
	--header-title-color: var(--page-text-color);
	--header-description-color: var(--page-secondary-text-color);
	--header-subscribe-color: var(--page-highlight-color);
	--header-control-color: #d4d4d8; /* gray-300 */

	/* content */
	--section-bg-color: #fafafa; /* gray-50 */
	--section-border-color: #e4e4e7; /* gray-200 */

	--card-bg-color: white;
	--card-title-color: var(--page-text-color);
	--card-date-color: var(--page-secondary-text-color);
	--card-summary-color: #71717a; /* gray-500 */
	--card-info-color: var(--page-secondary-text-color);
	--card-link-color: var(--page-highlight-color);
	--card-empty-gradient-from: #4338ca;
	--card-empty-gradient-to: #6366f1;

	--article-bg-color: var(--page-bg-color);
	--article-text-color: var(--page-text-color);
	--article-info-color: #71717a; /* gray-500 */
	--article-link-color: var(--page-highlight-color);
	--article-border-color: transparent;
	--article-block-bg-color: var(--section-bg-color);

	/* footer */
	--footer-bg-color: #18181b; /* gray-900 */
	--footer-text-color: #A1A1AA; /* gray-400 */
}

/* dark theme override */
.dark:root {
	/* page */
	--page-bg-color: #18181b; /* gray-900 */
	--page-text-color: #f4f4f5; /* gray-100 */
	--page-secondary-text-color: #a1a1aa; /* gray-400 */
	--page-highlight-color: #818cf8; /* indigo-400 */

	/* header */
	--header-control-color: #71717a; /* gray-500 */

	/* content */
	--section-bg-color: #202023; /* gray-850 */
	--section-border-color: #3f3f46; /* gray-700 */

	--card-bg-color: #27272a; /* gray-800 */
	--card-summary-color: #d4d4d8; /* gray-300 */

	--article-info-color: #d4d4d8; /* gray-300 */

	/* footer */
	--footer-bg-color: black;
}
