.Pinpoint.Documentation.Outline.Wrapper {
	@apply flex flex-col space-y-4;
}

.Pinpoint.Documentation.Outline.Item {
	@apply text-base;
}

.Pinpoint.Documentation.Outline.Item.active {
	@apply font-bold;
}

.Pinpoint.Documentation.Page.Home {
	@apply flex flex-col h-screen;
}

.Pinpoint.Documentation.Page.Home .Pinpoint.Documentation.Page.Content {
	@apply flex w-full;
}

.Pinpoint.Documentation.Page.Home .Pinpoint.Documentation.Outline.Wrapper {
	@apply mr-24 ml-4;
}

.Pinpoint.Documentation.Page.Home .Pinpoint.Documentation.Outline.Item,
.Pinpoint.Documentation.Page.Home .SubMenu .SubItem {
	@apply whitespace-nowrap text-black dark:text-white;
}

.Pinpoint.documentationBodyWrapper {
	@apply flex-grow mb-12;
}

.Pinpoint.Documentation.Outline.Wrapper .SubMenu {
	@apply ml-10 flex flex-col space-y-2 mt-2;
}

.Pinpoint.Documentation.Outline.Wrapper .SubMenu .SubItem {
	@apply whitespace-nowrap;
}

.Pinpoint.Documentation.Outline .SubItem.active {
	@apply font-bold;
}

.Pinpoint.Documentation.Outline.Wrapper .Parent .Top {
	@apply flex items-center;
}

.Pinpoint.Documentation.Outline.Wrapper .Parent .Top .toggleControl {
	@apply text-black dark:text-white;
}

.Pinpoint.Documentation.Outline.Wrapper .Parent .Top .spacer {
	width: 12px;
	height: 12px;
	@apply mr-2;
}

.Pinpoint.Documentation.Outline.Wrapper .Parent .Top .toggleControl {
	width: 12px;
	height: 12px;
	@apply mr-2 cursor-pointer;
}

.Pinpoint.Documentation.Page.Home .Pinpoint.Documentation.Page.Content article {
	@apply flex-grow;
}

.Pinpoint.Documentation.Title {
	@apply flex items-center;
}

.Pinpoint.Documentation.Title.clickable {
	@apply cursor-pointer;
}

.Pinpoint.Documentation.Title .text {
	@apply ml-2 text-lg text-black dark:text-white;
}

.Pinpoint.Documentation.Page.Content article {
	@apply w-0;
}
