.Pinpoint.Documentation.Outline.Wrapper {
	@apply flex flex-col space-y-4;
}

.Pinpoint.Documentation.Outline.Item {
	@apply text-base;
}

.Pinpoint.Documentation.Outline.Item.active {
	@apply font-bold;
}

.Pinpoint.Documentation.Page.Home,
.Pinpoint.Documentation.Page.SearchResults {
	@apply flex flex-col h-screen;
}

.Pinpoint.Documentation.Page.Home .Pinpoint.Documentation.Page.Content,
.Pinpoint.Documentation.Page.SearchResults .Pinpoint.Documentation.Page.Content {
	@apply flex w-full;
}

.Pinpoint.Documentation.Page.Home .Pinpoint.Documentation.Outline.Wrapper {
	@apply mr-24 ml-4;
}

.Pinpoint.Documentation.Page.Home .Pinpoint.Documentation.Outline.Item,
.Pinpoint.Documentation.Page.Home .SubMenu .SubItem {
	@apply whitespace-nowrap text-black dark:text-white;
}

.Pinpoint.documentationBodyWrapper {
	@apply flex-grow mb-12;
}

.Pinpoint.Documentation.Outline.Wrapper .SubMenu {
	@apply ml-10 flex flex-col space-y-2 mt-2;
}

.Pinpoint.Documentation.Outline.Wrapper .SubMenu .SubItem {
	@apply whitespace-nowrap;
}

.Pinpoint.Documentation.Outline .SubItem.active {
	@apply font-bold;
}

.Pinpoint.Documentation.Outline.Wrapper .Parent .Top {
	@apply flex items-center;
}

.Pinpoint.Documentation.Outline.Wrapper .Parent .Top .toggleControl {
	@apply text-black dark:text-white;
}

.Pinpoint.Documentation.Outline.Wrapper .Parent .Top .spacer {
	width: 12px;
	height: 12px;
	@apply mr-2;
}

.Pinpoint.Documentation.Outline.Wrapper .Parent .Top .toggleControl {
	width: 12px;
	height: 12px;
	@apply mr-2 cursor-pointer;
}

.Pinpoint.Documentation.Page.Home .Pinpoint.Documentation.Page.Content article {
	@apply flex-grow;
}

.Pinpoint.Documentation.Title {
	@apply flex items-center;
}

.Pinpoint.Documentation.Title.clickable {
	@apply cursor-pointer;
}

.Pinpoint.Documentation.Title .text {
	@apply ml-2 text-lg text-black dark:text-white;
}

.Pinpoint.Documentation.Page.Content .rightWrapper {
	@apply flex-grow w-0;
}

.Pinpoint.Documentation.Page.SearchResults .Pinpoint.Documentation.Page.Content .rightWrapper {
	@apply ml-0 sm:ml-12 space-y-6;
}

.Pinpoint.Documentation.Page.SearchResults .Pinpoint.Documentation.Page.Content .leftWrapper .back {
	@apply ml-8 flex items-center text-black dark:text-white;
}

.Pinpoint.Documentation.Page.SearchResults .Pinpoint.Documentation.Page.Content .leftWrapper .back .Internal.Link {
	@apply flex items-center;
}

.Pinpoint.Documentation.Page.SearchResults .Pinpoint.Documentation.Page.Content .leftWrapper .back .text {
	@apply ml-2;
}

.Pinpoint.Documentation.Page.Content .rightWrapper .Pinpoint.Pagination {
	@apply mt-8;
}

.Pinpoint.Documentation.Page.Content .leftWrapper {
	@apply flex flex-col;
}

.Pinpoint.Documentation.Page.Content .leftWrapper .Pinpoint.Search.Bar {
	@apply ml-8 mb-8 mt-1;
}

/* Hide the center of the header when mobile menu is open */
.Pinpoint.Documentation.Page.Content .leftWrapper.open .Pinpoint.Header .center {
	@apply hidden sm:block;
}

/* Hide the right side when mobile menu is open */
.Pinpoint.Documentation.Page.Content .rightWrapper {
	@apply block;
}

.Pinpoint.Documentation.Page.Content .rightWrapper.open {
	@apply hidden sm:block;
}

/* Hide the left sidethe mobile menu is closed */
.Pinpoint.Documentation.Page.Content .leftWrapper {
	@apply hidden sm:block;
}

.Pinpoint.Documentation.Page.Content .leftWrapper.open {
	@apply block w-full sm:w-auto;
}

.Pinpoint.Documentation.Page.Content .leftWrapper.open .Search.Bar {
	@apply w-full sm:w-48 ml-0 sm:ml-8;
}

.Pinpoint.Documentation.Card.wrapper {
	@apply flex flex-col rounded-md border-gray-200 hover:bg-gray-100 transition border-l-3 pl-4 py-2 text-black dark:text-white;
}

.Pinpoint.Documentation.Card.wrapper .title {
	@apply text-lg font-bold;
}

.Pinpoint.Documentation.Card.wrapper .cta {
	@apply ml-auto mt-2;
}

.Pinpoint.Documentation.Card.wrapper .clickable {
	@apply cursor-pointer;
}

.Pinpoint.Documentation.Page.Content .rightWrapper .empty {
	@apply text-2xl font-bold text-center;
}

.Pinpoint.Header .mobileMenuButton {
	@apply block sm:hidden;
}

.Pinpoint.Header .mobileMenuButton .icon {
	@apply mr-3 text-black dark:text-white;
}

.Pinpoint .mobileMenuWrapper {
	@apply ml-8 mt-4 pr-6;
}
