/*
 * Generic styles for all Pinpoint components
 */
.Pinpoint {
	font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial,
		Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.Box-Shadow {
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/*
 * Styles for the interactive clap component
 */
.Clap.wrapper {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.Clap.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: color 0.2s;
	color: gray;
}

.Clap.icon.active {
	color: purple;
}

.Clap.counter {
	opacity: 0;
	margin-left: 1rem;
	color: gray;
	transition: opacity 0.2s;
}

.Clap.counter.active {
	opacity: 1;
}

.Clap.notice {
	opacity: 0;
	position: absolute;
	background-color: gray;
	border-radius: 20px;
	color: white;
	user-select: none;
	transition: all 0.2s;
	left: 0rem;
	padding: 2px 10px;
}

.Clap.notice.active {
	opacity: 1;
	left: 3rem;
}

/*
 * Styles for the statistic components
 */
.Statistic.wrapper {
	display: flex;
	align-items: center;
	color: gray;
}

.Statistic .count {
	margin-left: 5px;
	color: gray;
}

.Statistic.Bar .Statistic.Views.wrapper {
	margin-right: 20px;
}

/*
 * Styles for the changelog card components
 */
.Changelog.Card.Container.wrapper {
	width: 100%;
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.Changelog.Card.Container.wrapper .cover {
	width: 100%;
}

.Changelog.Card.Container.wrapper .content {
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;
	padding: 1.5rem;
}

.Changelog.Card.Container.wrapper .footer {
	display: flex;
	margin-top: 1rem;
}

.Changelog.Card.Container.wrapper .statistics {
	margin-left: auto;
}

.Changelog.Card.Date {
	margin-top: 0.5rem;
	font-size: 0.75rem;
	line-height: 1rem;
	color: gray;
}

.Changelog.Card.Read {
	display: flex;
	align-items: center;
	color: rgb(79, 52, 255);
	cursor: pointer;
	text-decoration: none;
}

.Changelog.Card.Read .arrow {
	margin-left: 4px;
}

/*
 * Styles for the logo component
 */
.Logo {
	border-radius: 100%;
	display: block;
}

.Logo.xs {
	width: 22px;
	height: 22px;
}

.Logo.sm {
	width: 32px;
	height: 32px;
}

.Logo.md {
	width: 42px;
	height: 42px;
}

.Logo.lg {
	width: 52px;
	height: 52px;
}

.Logo.xl {
	width: 62px;
	height: 62px;
}

.Logo .image {
	width: 100%;
	height: 100%;
}

/*
 * Styles for the copyright component
 */
.Copyright {
	line-height: 1.5;
}

.Copyright .text {
	margin-top: 1rem;
	font-size: 0.875rem;
}

/*
 * Styles for the subscribe component
 */
.Subscribe {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: rgb(79, 52, 255);
	text-decoration: none;
}

.Subscribe .text {
	font-size: 0.875rem;
	line-height: 1.25rem;
	margin-left: 0.75rem;
}

/*
 * Styles for the social components
 */
.Social {
	color: gray;
	text-decoration: none;
	transition: color 0.2s;
}

.Social.Item:hover {
	color: rgb(79, 52, 255);
}

.Social.Bar {
	display: flex;
	column-gap: 0.5rem;
}

/*
 * Styles for the footer component
 */
.Footer {
	display: flex;
	align-items: flex-end;
	padding: 1rem;
}

.Footer .right {
	margin-left: auto;
}

.Footer .Social {
	margin-top: 0.2rem;
}

/*
 * Styles for the latest component
 */
.Latest {
	display: flex;
}

.Latest .heading {
	margin-bottom: 0;
	margin-right: 3rem;
	width: 25%;
}

.Latest .container {
	display: flex;
	column-gap: 0.5rem;
}

/*
 * Styles for the link component
 */
.Link.clickable {
	cursor: pointer;
}
