name: Node.js CI

on:
   push:
      branches: [master]

jobs:
   build:
      runs-on: ubuntu-latest
      permissions:
         contents: read
         packages: write

      steps:
         - uses: actions/checkout@v2
         - name: Use Node.js ${{ matrix.node-version }}
           uses: actions/setup-node@v1
           with:
              node-version: 14
         - run: npm install
         - run: npm run build
         - run: npm test
         - name: Publish
           run: |
              npm config set //registry.npmjs.org/:_authToken ${NPM_TOKEN}
              npm publish --ignore-scripts --access public --tag latest
           env:
              NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
